body{
    background-color: #EEE;
}

#container {
   
}
#header{
  font-size: 200%;
  background-color: #66CCFF0;
  text align:center;
  display: flex;
  align-items: center;
  color: purple;
  background-color: white;
  width: 800px;
  height: 100px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  
}

#footer {
  background: white;
  height: 20px;
  margin: auto;
  width: 400px;
  border: 3px solid black;
  text-align:center;
  padding:10px;
  color:purple;
}
  .img-beautifulsky {
    width: 300px;
    display: block;
    margin: auto;
  }

  #content {
    background: white;
    width: 1100px;
    text-size: 180%;
    margin: auto;
    border:5px double black;
    padding: 10px;
    text align: center;
    color: black;
  }

  .navbar ul{
    list-style: none;
    background-color: darkslategrey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar align-self: hover;{
  background-color: grey;

}

.navbar li{
  float: left;
  display: inline;
}
 .navdiv{
  display: flex; align-items: center; justify-content: space-between;
 }