body{
    background-color: #EEE;
}

#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header{
  background-color: #66CCFF0;
  text-align: center;
  color: purple;
}