body{
    background-color: #EEE;
}

#container {
   
}
#header{
  font-size: 200%;
  background-color: #66CCFF0;
  text-align: center;
  color: purple;
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  
}
.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
}
.footer {
    width:400px;
    margin:auto;
}
.footerContent {
    float:left;
    width:100%;
    background-color:#555;
    padding:20px 0;
}
.footer p {float:left; width:100%; text-align:center; }

  .img-beautifulsky {
    width: 300px;
    display: block;
    margin: auto;
  }