body{
    background-color: #EEE;
}

#container {
   
}
#header{
  font-size: 200%;
  background-color: #66CCFF0;
  
  display: flex;
  align-items: center;
  color: purple;
  background-color: white;
  width: 800px;
  height: 100px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  
}

#footer {
  background: white;
  height: 20px;
  margin: auto;
  width: 400px;
  border: 3px solid black;
  text-align:center;
  padding:10px;
  color:purple;
}
  .img-beautifulsky {
    width: 300px;
    display: block;
    margin: auto;
  }

  #content {
    background: white;
    width: 1100px;
    text-size: 180%;
    margin: auto;
    border:5px double black;
    padding: 10px;
    text align: center;
    color: black;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}